.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 60px;
  border-radius: 15px;
  background: linear-gradient(#bdc32e, #1a7b3d);
}
.cityInput {
  width: 70%;
  text-align: center;
  display: block;
}

.cityName {
  text-align: center;
  font-family: "PT Mono", monospace;
}
.mon,
.tue,
.wed,
.thu,
.fri {
  font-size: 35px;
  text-align: center;
  transition: all 200ms ease-in-out;
  padding: 10px;
}
.mon:hover,
.tue:hover,
.wed:hover,
.thu:hover,
.fri:hover {
background: #bdc32e;
}
.days_temp {
  padding: 10px;
  border: solid;
  margin: 0px 0px 0px 40px;
  border-radius: 10px;
  background-color: #f0ece0;
  float: right;
  font-size: 20px;
  width: 170px;
  text-align: center;
}
.col-5 {
  text-align: center;
}
.col-7 {
  text-align: center;
}
.weather_icon {
  font-size: 50px;
}
.humidity_class,
.wind_class,
.sunrise,
.sunset {
  font-size: 25px;
}
.fa-sun,
.fa-moon {
  font-size: 30px;
}
h3 {
  text-align: center;
}
.temp {
  border: none;
  background-color: transparent;
}

#farenheitUnit,
#celsiusUnit {
  text-decoration: none;
}

#desc {
  font-size: 28px;
}

.temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

#inputSearch {
  text-align: center;
}

#sourceCode {
  max-width: 800px;
  margin: 0 0 0 20%;
}
